<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f6ebad346449e7e5ce6bb0b089eb7680 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_f6ebad346449e7e5ce6bb0b089eb7680" ></div>
        
</body>
<script>
    
    
            var map_f6ebad346449e7e5ce6bb0b089eb7680 = L.map(
                "map_f6ebad346449e7e5ce6bb0b089eb7680",
                {
                    center: [30.0588, 31.2268],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7c34d41573865a3ba5d7895fc889ff61 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_7c34d41573865a3ba5d7895fc889ff61.addTo(map_f6ebad346449e7e5ce6bb0b089eb7680);
        
    
            var marker_cluster_e75b88dfcab2705984d9ff1ac44dd0e8 = L.markerClusterGroup(
                {}
            );
        
    
            var marker_159b646bcb2b996925a4cdf296d6cb20 = L.marker(
                [30.0588, 31.2268],
                {}
            ).addTo(marker_cluster_e75b88dfcab2705984d9ff1ac44dd0e8);
        
    
            var icon_d9baa4531442299cc8a48eff882ced26 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "globe", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_159b646bcb2b996925a4cdf296d6cb20.setIcon(icon_d9baa4531442299cc8a48eff882ced26);
        
    
        var popup_0d5e133ff17ff2263e0c39d8939fbb66 = L.popup({"maxWidth": "100%"});

        
            
                var html_75c3567c7561809314c9cfdb52cb0edd = $(`<div id="html_75c3567c7561809314c9cfdb52cb0edd" style="width: 100.0%; height: 100.0%;">Salto #2  IP:102.47.32.1  Estado: Egypt  Nombre: AS8452 TE-AS</div>`)[0];
                popup_0d5e133ff17ff2263e0c39d8939fbb66.setContent(html_75c3567c7561809314c9cfdb52cb0edd);
            
        

        marker_159b646bcb2b996925a4cdf296d6cb20.bindPopup(popup_0d5e133ff17ff2263e0c39d8939fbb66)
        ;

        
    
    
            var marker_87623494046afbc8e52a7dfbc95ed442 = L.marker(
                [41.7652, 12.3405],
                {}
            ).addTo(marker_cluster_e75b88dfcab2705984d9ff1ac44dd0e8);
        
    
            var icon_a4e9a4d427c4a552fb06d57e3252685d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "globe", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_87623494046afbc8e52a7dfbc95ed442.setIcon(icon_a4e9a4d427c4a552fb06d57e3252685d);
        
    
        var popup_e7ee545df8abbcbef4fdf4f889b40455 = L.popup({"maxWidth": "100%"});

        
            
                var html_cfcae50e338ba171923b19cd14abf29b = $(`<div id="html_cfcae50e338ba171923b19cd14abf29b" style="width: 100.0%; height: 100.0%;">Salto #8  IP:93.186.129.113  Estado: Italy  Nombre: AS6762 TELECOM ITALIA SPARKLE S.p.A.</div>`)[0];
                popup_e7ee545df8abbcbef4fdf4f889b40455.setContent(html_cfcae50e338ba171923b19cd14abf29b);
            
        

        marker_87623494046afbc8e52a7dfbc95ed442.bindPopup(popup_e7ee545df8abbcbef4fdf4f889b40455)
        ;

        
    
    
            var marker_f52811bdd4c035d3f04b3268f4bda60e = L.marker(
                [41.7652, 12.3405],
                {}
            ).addTo(marker_cluster_e75b88dfcab2705984d9ff1ac44dd0e8);
        
    
            var icon_c39f784aa237163d879899530057c729 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "globe", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_f52811bdd4c035d3f04b3268f4bda60e.setIcon(icon_c39f784aa237163d879899530057c729);
        
    
        var popup_00b85b829b6fbb3dd0bcf8e95a13489b = L.popup({"maxWidth": "100%"});

        
            
                var html_fb53f179f0853bfaf818affb8658d35e = $(`<div id="html_fb53f179f0853bfaf818affb8658d35e" style="width: 100.0%; height: 100.0%;">Salto #9  IP:93.186.129.112  Estado: Italy  Nombre: AS6762 TELECOM ITALIA SPARKLE S.p.A.</div>`)[0];
                popup_00b85b829b6fbb3dd0bcf8e95a13489b.setContent(html_fb53f179f0853bfaf818affb8658d35e);
            
        

        marker_f52811bdd4c035d3f04b3268f4bda60e.bindPopup(popup_00b85b829b6fbb3dd0bcf8e95a13489b)
        ;

        
    
    
            var marker_bdc85b055b7ec092a7b194a707176ddc = L.marker(
                [50.1109, 8.68213],
                {}
            ).addTo(marker_cluster_e75b88dfcab2705984d9ff1ac44dd0e8);
        
    
            var icon_4e9a0d037823b255492987dd66b2001b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "globe", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bdc85b055b7ec092a7b194a707176ddc.setIcon(icon_4e9a0d037823b255492987dd66b2001b);
        
    
        var popup_395833e2a4cf56a0f0eb06ce84ecfa87 = L.popup({"maxWidth": "100%"});

        
            
                var html_373a9872fad6ce963acc3273e3e82679 = $(`<div id="html_373a9872fad6ce963acc3273e3e82679" style="width: 100.0%; height: 100.0%;">Salto #10  IP:195.22.211.48  Estado: Germany  Nombre: AS6762 TELECOM ITALIA SPARKLE S.p.A.</div>`)[0];
                popup_395833e2a4cf56a0f0eb06ce84ecfa87.setContent(html_373a9872fad6ce963acc3273e3e82679);
            
        

        marker_bdc85b055b7ec092a7b194a707176ddc.bindPopup(popup_395833e2a4cf56a0f0eb06ce84ecfa87)
        ;

        
    
    
            var marker_29f9f4b0c6b964b9157018ec446ecfb1 = L.marker(
                [50.1109, 8.68213],
                {}
            ).addTo(marker_cluster_e75b88dfcab2705984d9ff1ac44dd0e8);
        
    
            var icon_ba21bca0cc31c898e9c54980eea54ee7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "globe", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_29f9f4b0c6b964b9157018ec446ecfb1.setIcon(icon_ba21bca0cc31c898e9c54980eea54ee7);
        
    
        var popup_0fdc598e32c1419c980241d8f1873cbe = L.popup({"maxWidth": "100%"});

        
            
                var html_85ebc3862476c8838e7d8ea08231bad9 = $(`<div id="html_85ebc3862476c8838e7d8ea08231bad9" style="width: 100.0%; height: 100.0%;">Salto #10  IP:195.22.211.48  Estado: Germany  Nombre: AS6762 TELECOM ITALIA SPARKLE S.p.A.</div>`)[0];
                popup_0fdc598e32c1419c980241d8f1873cbe.setContent(html_85ebc3862476c8838e7d8ea08231bad9);
            
        

        marker_29f9f4b0c6b964b9157018ec446ecfb1.bindPopup(popup_0fdc598e32c1419c980241d8f1873cbe)
        ;

        
    
    
            var marker_ced294a0e8fd386b40fc7054e4a66ca3 = L.marker(
                [50.9485, 6.90934],
                {}
            ).addTo(marker_cluster_e75b88dfcab2705984d9ff1ac44dd0e8);
        
    
            var icon_677f2c6527b3c17994bfe253c26324d3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "globe", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_ced294a0e8fd386b40fc7054e4a66ca3.setIcon(icon_677f2c6527b3c17994bfe253c26324d3);
        
    
        var popup_35c31531caa99fed389d4a30f6aafa8e = L.popup({"maxWidth": "100%"});

        
            
                var html_6732f4129b085df483e904ac8178bfd8 = $(`<div id="html_6732f4129b085df483e904ac8178bfd8" style="width: 100.0%; height: 100.0%;">Salto #12  IP:80.81.193.115  Estado: Germany  Nombre: </div>`)[0];
                popup_35c31531caa99fed389d4a30f6aafa8e.setContent(html_6732f4129b085df483e904ac8178bfd8);
            
        

        marker_ced294a0e8fd386b40fc7054e4a66ca3.bindPopup(popup_35c31531caa99fed389d4a30f6aafa8e)
        ;

        
    
    
            var marker_4a403e0aad7dca3403f4b344fe5c754b = L.marker(
                [40.7307, -73.9915],
                {}
            ).addTo(marker_cluster_e75b88dfcab2705984d9ff1ac44dd0e8);
        
    
            var icon_a8a9eb2fcef45ae1391b302c28b38440 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "globe", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4a403e0aad7dca3403f4b344fe5c754b.setIcon(icon_a8a9eb2fcef45ae1391b302c28b38440);
        
    
        var popup_30e493d59b918411fbc93c732f2e48af = L.popup({"maxWidth": "100%"});

        
            
                var html_b15e5dede7dd2a0757847dea50005c48 = $(`<div id="html_b15e5dede7dd2a0757847dea50005c48" style="width: 100.0%; height: 100.0%;">Salto #13  IP:66.196.64.227  Estado: United States  Nombre: AS10310 Oath Holdings Inc.</div>`)[0];
                popup_30e493d59b918411fbc93c732f2e48af.setContent(html_b15e5dede7dd2a0757847dea50005c48);
            
        

        marker_4a403e0aad7dca3403f4b344fe5c754b.bindPopup(popup_30e493d59b918411fbc93c732f2e48af)
        ;

        
    
    
            marker_cluster_e75b88dfcab2705984d9ff1ac44dd0e8.addTo(map_f6ebad346449e7e5ce6bb0b089eb7680);
        
    
            var poly_line_236eae146c1379cff33a072252cb08f2 = L.polyline(
                [[30.0588, 31.2268], [41.7652, 12.3405], [41.7652, 12.3405], [50.1109, 8.68213], [50.1109, 8.68213], [50.9485, 6.90934], [40.7307, -73.9915]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": "5", "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": ".85", "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f6ebad346449e7e5ce6bb0b089eb7680);
        
    
            poly_line_236eae146c1379cff33a072252cb08f2.bindTooltip(
                `<div>
                     Server Tunneling
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>