<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_82e0935365979c99f0c452bc1911004a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_82e0935365979c99f0c452bc1911004a" ></div>
        
</body>
<script>
    
    
            var map_82e0935365979c99f0c452bc1911004a = L.map(
                "map_82e0935365979c99f0c452bc1911004a",
                {
                    center: [-34.6142, -58.3811],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5aa6a0062e5a1e2b00aa473f5c6a1cab = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_5aa6a0062e5a1e2b00aa473f5c6a1cab.addTo(map_82e0935365979c99f0c452bc1911004a);
        
    
            var marker_cluster_1b1b90811382113cdfbf444ec111772d = L.markerClusterGroup(
                {}
            );
        
    
            var marker_8e23f63b96e0c1eb1598908d3e3eef96 = L.marker(
                [-34.6142, -58.3811],
                {}
            ).addTo(marker_cluster_1b1b90811382113cdfbf444ec111772d);
        
    
            var icon_63548044aeb85382c477b7917d0d5c0d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "globe", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_8e23f63b96e0c1eb1598908d3e3eef96.setIcon(icon_63548044aeb85382c477b7917d0d5c0d);
        
    
        var popup_86f07b3f8e62680f8bada46391894cdc = L.popup({"maxWidth": "100%"});

        
            
                var html_cbee9fb01454dd17d5990ba9ca9e0ac8 = $(`<div id="html_cbee9fb01454dd17d5990ba9ca9e0ac8" style="width: 100.0%; height: 100.0%;">Salto #1  IP:190.216.95.49  Estado: Argentina  Nombre: AS3549 Level 3 Parent, LLC</div>`)[0];
                popup_86f07b3f8e62680f8bada46391894cdc.setContent(html_cbee9fb01454dd17d5990ba9ca9e0ac8);
            
        

        marker_8e23f63b96e0c1eb1598908d3e3eef96.bindPopup(popup_86f07b3f8e62680f8bada46391894cdc)
        ;

        
    
    
            var marker_964c79941fcc59f842ea3989beebcd7c = L.marker(
                [-23.6301, -46.6378],
                {}
            ).addTo(marker_cluster_1b1b90811382113cdfbf444ec111772d);
        
    
            var icon_7419c32a9ad094b12ead62217461e830 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "globe", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_964c79941fcc59f842ea3989beebcd7c.setIcon(icon_7419c32a9ad094b12ead62217461e830);
        
    
        var popup_410c93f56009659b8a4b7e6bb5ad845b = L.popup({"maxWidth": "100%"});

        
            
                var html_eb5353b14ae6c5409e57dd3504c8cf1a = $(`<div id="html_eb5353b14ae6c5409e57dd3504c8cf1a" style="width: 100.0%; height: 100.0%;">Salto #2  IP:200.186.215.46  Estado: Brazil  Nombre: AS3549 Level 3 Parent, LLC</div>`)[0];
                popup_410c93f56009659b8a4b7e6bb5ad845b.setContent(html_eb5353b14ae6c5409e57dd3504c8cf1a);
            
        

        marker_964c79941fcc59f842ea3989beebcd7c.bindPopup(popup_410c93f56009659b8a4b7e6bb5ad845b)
        ;

        
    
    
            var marker_45c1d5227dc30fe33485fb7ab0897a78 = L.marker(
                [-23.6301, -46.6378],
                {}
            ).addTo(marker_cluster_1b1b90811382113cdfbf444ec111772d);
        
    
            var icon_a9dff2273c5708a296c107475ced673b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "globe", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_45c1d5227dc30fe33485fb7ab0897a78.setIcon(icon_a9dff2273c5708a296c107475ced673b);
        
    
        var popup_d4e8e6e7db1e2986422e1abeee6455a3 = L.popup({"maxWidth": "100%"});

        
            
                var html_e88bf6273d6fe22a7cc82b8d1731172b = $(`<div id="html_e88bf6273d6fe22a7cc82b8d1731172b" style="width: 100.0%; height: 100.0%;">Salto #3  IP:200.186.63.46  Estado: Brazil  Nombre: AS3549 Level 3 Parent, LLC</div>`)[0];
                popup_d4e8e6e7db1e2986422e1abeee6455a3.setContent(html_e88bf6273d6fe22a7cc82b8d1731172b);
            
        

        marker_45c1d5227dc30fe33485fb7ab0897a78.bindPopup(popup_d4e8e6e7db1e2986422e1abeee6455a3)
        ;

        
    
    
            var marker_5e65c0f16c7bc2003728cc022f036882 = L.marker(
                [-23.5558, -46.6396],
                {}
            ).addTo(marker_cluster_1b1b90811382113cdfbf444ec111772d);
        
    
            var icon_0c179543e0a6c051ffefdb28cfaf33f7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "globe", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_5e65c0f16c7bc2003728cc022f036882.setIcon(icon_0c179543e0a6c051ffefdb28cfaf33f7);
        
    
        var popup_2d82118ad74184c8158d9520fac25116 = L.popup({"maxWidth": "100%"});

        
            
                var html_8cc402aa9136c28315e0722aaef08b06 = $(`<div id="html_8cc402aa9136c28315e0722aaef08b06" style="width: 100.0%; height: 100.0%;">Salto #4  IP:200.152.160.71  Estado: Brazil  Nombre: AS10310 Oath Holdings Inc.</div>`)[0];
                popup_2d82118ad74184c8158d9520fac25116.setContent(html_8cc402aa9136c28315e0722aaef08b06);
            
        

        marker_5e65c0f16c7bc2003728cc022f036882.bindPopup(popup_2d82118ad74184c8158d9520fac25116)
        ;

        
    
    
            var marker_04e89f73844007b57f42dd5eda57ab38 = L.marker(
                [-23.5475, -46.6361],
                {}
            ).addTo(marker_cluster_1b1b90811382113cdfbf444ec111772d);
        
    
            var icon_c2c6d0b7e0f5dee62aa9328563a56a1d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "globe", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_04e89f73844007b57f42dd5eda57ab38.setIcon(icon_c2c6d0b7e0f5dee62aa9328563a56a1d);
        
    
        var popup_b232da26e3c0685c618a6bb22834d273 = L.popup({"maxWidth": "100%"});

        
            
                var html_3284a49380c8bf34209e3660793719b2 = $(`<div id="html_3284a49380c8bf34209e3660793719b2" style="width: 100.0%; height: 100.0%;">Salto #5  IP:200.152.162.136  Estado: Brazil  Nombre: AS28122 YAHOO DO BRASIL INTERNET LTDA.</div>`)[0];
                popup_b232da26e3c0685c618a6bb22834d273.setContent(html_3284a49380c8bf34209e3660793719b2);
            
        

        marker_04e89f73844007b57f42dd5eda57ab38.bindPopup(popup_b232da26e3c0685c618a6bb22834d273)
        ;

        
    
    
            marker_cluster_1b1b90811382113cdfbf444ec111772d.addTo(map_82e0935365979c99f0c452bc1911004a);
        
    
            var poly_line_ec83bf18ba5dfb26f619cf3c2051cd7f = L.polyline(
                [[-34.6142, -58.3811], [-23.6301, -46.6378], [-23.6301, -46.6378], [-23.5558, -46.6396], [-23.5475, -46.6361]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": "5", "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": ".85", "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_82e0935365979c99f0c452bc1911004a);
        
    
            poly_line_ec83bf18ba5dfb26f619cf3c2051cd7f.bindTooltip(
                `<div>
                     Server Tunneling
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>